input {
  padding: 0.3rem;
  outline: none;
  border: 1px solid beige;
  border-radius: 5px;
  background-color:rgba(233, 228, 228, 0.993);
}
button {
  background-color: rgb(26,83,92);
  /* border-radius: 10px; */
  width: 100%;
  color: white;
  align-self: center;
  font: 400 1rem sans-serif;
  border: none;
  cursor: pointer;
  padding: 0.35rem  ;
  width: 100%;
  
}